{% extends "encyclopedia/layout.html" %}

{% block title %}
    Search Results
{% endblock %}

{% block body %}
    <h4>Search Results</h4>
			{% if not search_results %}
					<label class="error">{{error |safe}}<span class="query"> "{{query}}"</span></label>
					<br><a href="{% url 'index' %}">Return Home</a>
			{% else %}
				<ul>
      	{% for entry in search_results %}
        		<li><a href="{% url 'viewentry' title=entry %}">{{ entry }}</a></li>
      	{% endfor %}
    		</ul>
			{% endif %}

{% endblock %}
